body {
    background: #210126;
    padding-top: 2rem;
    color: lightcoral;
}

#featured-project-content {
    text-align: center;
}

.row {
    padding-top: 3rem;
}

.text-boxes {
    margin-bottom: 2rem;    
    padding: 0.5rem;     
    text-align: center;
    font-size: 1.3rem;
}

#clear-txtboxes-btn {
    margin-bottom: 1.5rem;
}

#results-div {
    text-align: center;
    font-size: 1.8rem;
}