body {
    background: #210126;
    padding-top: 2rem;
    color: white;
}

.trivia-heading {
    text-align: center;
}

#decrotive-div {
    background-color: palevioletred;
    color: greenyellow; 
}

.row {
    padding-top: 3rem;
}